@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="width: 100%;">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @Html.DisplayFor(model => model.test)

    <ul>
        @foreach (var table in Model.tables)
        {
            <li>@table.TABLE_NAME</li>
        }
    </ul>

</div>
